body > div:first-child {
  overflow-x: hidden;
}

#nav-title {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 767px) {
  .img-responsive {
    width: 100%;
    height: auto;
  }

  .text-on-mobile {
    font-size: 16px;
  }

  .small-body {
    width: 100%;
    height: 30px;
    padding: 0;
    margin-top: 5px;
  }
  .small-mobile-font {
    font-size: small;
  }

  .custom-card-body {
    height: 35px;
    padding-top: 5px;
  }
}
