body > div:first-child {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  .img-responsive {
    width: 100%;
    height: auto;
  }

  .small-body {
    width: 100%;
    height: 30px;
    padding: 0;
    margin-top: 5px;
  }

  .custom-card-body {
    height: 35px;
    padding-top: 5px;
  }
}
